<h2>Expert advice</h2>
<h4>Based on your top 5 spendings, the bank suggests the following advise(s) for your benefits.</h4>
<!-- <div class="inner-container">
    <div class="left"><img style="width:25px !important" src="../../../assets/images/info.png"></div>
    <div class="center">
        
       <h2>Paying too much rent. Think about mortgages. <a href="#">Know more</a> </h2>
    </div>
  </div>

  <div class="inner-container">
    <div class="left"><img style="width:25px !important" src="../../../assets/images/info.png"></div>
    <div class="center">
        
       <h2>BSpending more on e-commerce transactions. Think to buy credit card to get interesting reward points.<a href="#">Know more</a></h2>
    </div>
  </div> -->
  
  <main class="cards">
    <article class="card">
        <div class="image">
            <img  style="border-radius:10px" src="../../../assets/images/mortgage2.jpg">
          
        </div>
        <div></div>
        <div class="outer">
            <div class="inner">
            <h4> The bank identified that you're spending more amount towards your house rent for a certain period of time. We would advise you to think about mortgages loan to own your new house. <a href="#">Know more</a> </h4>
            </div>

        </div>
      </article>
      <article class="card">
        <div class="image">
            <img src="../../../assets/images/cc.jpg">
          
        </div>
        <div></div>
        <div class="outer">
            <div class="inner">
            <h4>You are spending more transactions on e-commerce sites using your debit card, rather the bank suggests you to opt for a credit card to spent transactions and get more reward points / cashbacks.  <a href="#">Know more</a> </h4>
            </div>

        </div>
      </article>
   
   </main>

