
<h2>Alerts</h2>
<h4>The bank suggests the following alert(s) to improve your finanicial tranascations</h4>
<div class="inner-container">
    <div class="left"><img style="width:25px !important" src="../../../assets/images/warning.png"></div>
    <div class="center">
        <!-- <h3>June 2020</h3> -->
       <h2>Unaccounted ATM cash withdrwal cannot track accurate expenses, so please go for digital transactions</h2>
    </div>
  </div>

  <div class="inner-container">
    <div class="left"><img style="width:25px !important" src="../../../assets/images/warning.png"></div>
    <div class="center">
        <!-- <h3>June 2020</h3> -->
       <h2>Your next house rent payment due falls in next two days, but the bank notified that you have insuffcient balance in your account. Please fund sufficent amount to avoid additional charges.</h2>
    </div>
  </div>

  <!-- <div class="inner-container">
    <div class="left"><img style="width:25px !important" src="../../../assets/images/warning.png"></div>
    <div class="center">
               <h2>House rent payment standing order falls in next 5 days, so fund sufficient balance</h2>
    </div>
  </div> -->
